---
layout: default
title: Informatics
permalink: /informatics
---
<style>
  OL {
    counter-reset: item
  }

  OL LI {
    display: block
  }

  OL LI:before {
    content: counters(item, ".") ". ";
    counter-increment: item
  }
</style>
<ol>
  <li>GNU/Linux:
    <ol>
      <li><a href="/kb/linux/tmux">TMux</a></li>
      <li><a href="/kb/linux/c_language">C Language</a></li>
      <li><a href="/kb/linux/process_memory">Process memory</a></li>
      <li><a href="/kb/linux/gdb">GDB</a></li>
      <li><a href="/kb/linux/ffmpeg">ffmpeg</a></li>
      <li><a href="/kb/linux/git">Git</a></li>
      <li><a href="/kb/linux/scanner">Scanner</a></li>
      <li><a href="/kb/linux/software_packages">Software packages</a></li>
      <li><a href="/kb/linux/network_hardware_software_discovery">Network hardware and software discovery</a></li>
      <li><a href="/kb/linux/systemd_service">SystemD service</a></li>
      <li><a href="/kb/linux/qemu">QEMU</a></li>
      <li><a href="/kb/linux/cryptography">Cryptography</a></li>
      <li><a href="/kb/linux/pdf_manipulation_tools">PDF manipulation tools</a></li>
      <li><a href="/kb/linux/byte_order_mark__3_invisible_characters">Byte Order Mark - 3 invisible characters</a></li>
      <li><a href="/kb/linux/2fa">2 Factor Authentication</a></li>
      <li><a href="/kb/linux/mobile">Mobile</a></li>
      <li><a href="/kb/linux/processes_and_proc_filesystem">Processes and /proc filesystem</a></li>
      <li><a href="/kb/linux/tcpdump">TCP dump</a></li>
      <li><a href="/kb/linux/graphical_interface">Graphical Interface</a></li>
      <li><a href="/kb/linux/bluetooth">Bluetooth</a></li>
      <li><a href="/kb/linux/asciinema">asciinema</a></li>
      <li><a href="/kb/linux/picking_glibc_versions_at_runtime">Picking glibc versions at runtime</a></li>
      <li><a href="/kb/linux/executable_binary_files">Executable binary files</a></li>
    </ol>
  </li>
  <li>C & C++ language:
    <ol>
      <li><a href="/kb/c/numeric_limits">Numeric limits</a></li>
      <li><a href="/kb/c/pointers_asterisk_and_const">Pointers - asterisk and const</a></li>
      <li><a href="/kb/c/pointers_and_memory">Pointers and memory</a></li>
      <li><a href="/kb/c/time_functions">Time functions</a></li>
      <li><a href="/kb/c/binary_files">Binary files</a></li>
    </ol>
  </li>
  <li>System Administration:
    <ol>
      <li><a href="/kb/system_administration/general">General system administration</a></li>
      <li><a href="/kb/system_administration/network">Network</a></li>
      <li><a href="/kb/system_administration/traceroute">traceroute</a></li>
      <li><a href="/kb/system_administration/disk_management">Disk management</a></li>
      <li><a href="/kb/system_administration/hardware_stress_testing">Hardware stress testing</a></li>
      <li><a href="/kb/system_administration/disk_error_testing">Disk error testing</a></li>
      <li><a href="/kb/system_administration/linux_network_tuning">Linux network tuning</a></li>
      <li><a href="/kb/system_administration/mysql">MySQL</a></li>
      <li><a href="/kb/system_administration/os_update">O.S. update</a></li>
      <li><a href="/kb/system_administration/other">Other</a></li>
      <li><a href="/kb/system_administration/socket_connection">Socket connection</a></li>
      <li><a href="/kb/system_administration/ssh">SSH</a></li>
      <li><a href="/kb/system_administration/syslog">SysLog</a></li>
      <li><a href="/kb/system_administration/unix_filesystem">Unix filesystem</a></li>
      <li><a href="/kb/system_administration/windows_maintenance">Windows maintenance</a></li>
      <li><a href="/kb/system_administration/password_management">Password management</a></li>
      <li><a href="/kb/system_administration/cgroup">CGroup</a></li>
      <li><a href="/kb/system_administration/iPXE">iPXE</a></li>
    </ol>
  </li>
  <li>Containers:
    <ol>
      <li><a href="/kb/containers/podman_docker">Podman / Docker</a></li>
      <li><a href="/kb/containers/kubernetes">Kubernetes (K8s)</a></li>
    </ol>
  </li>
  <li>Cloud:
    <ol>
      <li><a href="/kb/cloud/aws">Amazon Web Services (AWS)</a></li>
    </ol>
  </li>
  <li><a href="/kb/secret_management">Secret management</a></li>
  <li><a href="https://tancredi-paul-grozav.gitlab.io/aleph/" target="_blank">Aleph GNU/Linux</a></li>
  <li><a href="/test">Test page</a></li>
  <li><a href="/kb/other">Others - migrated from old site</a></li>
</ol>
